
/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Titillium;
}
.navbar {
  height: 70px;
  display: flex;                                      
  padding: 0.3rem calc((100vw - 1200px) / 2);
  z-index: 5;
  margin-top: 10px;
}
.navbar ul{
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  }
#logout{
  border-radius: 4px;
  background: #256ce1 ;
  padding: 10px 20px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 40px;
}
.menu_active {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar li:hover{
  color: white !important;
} 
 .menu_active{
  font-weight: bold;
  border-bottom: none;
}

#main_header {
  width: 100%;
  height: 100vh;
  background-color: skyblue;
    background-image: url(./images/health.jpg);
 }
#header {
  height: 75%;
  margin: 0 auto;
  top: 12.5%;
  position: relative;
  background-color: rgb(241, 233, 233);
}
#left {
  background-color: #0492c9; 
  height: auto; 
}
h2{
  text-align: center;
  color: #0492C2; 
}
h4{
  text-align: center;
  color: #0492C2;
  text-transform: capitalize;
}
#btn{
  justify-content: center;
  display: flex;
}
#btn :hover{
  background: skyblue;
  color: white;
} 
label{
  color: #0492c7;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  padding: 80px;
  background: skyblue;
  box-sizing: border-box;
}
.child {
  max-width: 100%;
  flex: 0 0 98%;
  height: 75vh;
  background: #0492C2;
  margin: 0 0 0;
  color: white;
}
.child:first-child {
  background-image: url(./images/health.jpg);
}
.child:last-child {
  background-color: white;
}

@media (min-width: 600px) {
.child {
  max-width: 48%;
  flex: 0 0 48%;
  margin-bottom: 0;
}
}


#background{
  height: 150vh;
  background-color: white
 }
 
#foreground {
  height: 85%;
  margin: 0 auto;
  top: 7%;
  position: relative;  
  /* background-image: url(./images/bg.jpg); */
  background-color: white
}

thead{
  color:white;
  background:skyblue
}
tbody :hover {
  background-color: rgb(234, 249, 255);
}
h3{
  color: royalblue;
  font-size: 25px;
}
.profile{
  color: skyblue;
  font-size: 25px;
  margin-left:50px;
  border: none;
}
.Uprofile{
  color: royalblue;
  font-size: 20px;
  margin-left:10px;
}
.modal-title{
  background-color: skyblue;
  color: white;
  margin-left: 30%;
}
.updateField{
  margin-left: 5%;
  color: grey;
}
textarea{
  height: 30vh;
}